type demoservice, domain;
type demoservice_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(demoservice)

allow demoservice vndbinder_device:chr_file {ioctl open read write };


